body, html {
font-family: 'Courier New', Courier, monospace; 
background-color: rgb(236, 241, 245); 
right: 50%; 
} 
h1 {
  position: absolute; 
  left: 25%; 
  right: 75%; 
  top: 10%;
  width: 800px; 
  height: 100px;
  font-size: 45px; 
}
Body { 
#potionButton { 
  position: absolute; 
  left: 50%; 
  right: 50%; 
  top: 50%;
  width: 100px; 
  height: 40px; 
   font-size: 20px; 
    display: flex;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(58, 63, 58);
    margin: 0; 
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 
} 
   
  #potionButton:hover {
    background-color: rgb(202, 183, 153);
  }

} 
Body {
#autoclicker {
  font-size: 20px; 
    display: flex;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(198, 244, 252);
    margin: 0; 
}
} 